:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 62.5%;
    font-family: 'Figtree', sans-serif;
}

body {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 24px;
}

.wrapper {
    width: 384px;
    background-color: #fff;
    border-radius: 2em;
    border: 1px solid #000;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    padding: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.avatar {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.avatar-image {
    width: 32px;
}

.avatar-name {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--gray-950);
}

.card-note {
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: var(--yellow);
    display: inline-block;
    padding: 6px 12px;
    border-radius: .4em;

}

.published-date {
    font-size: 1.4rem;
    margin-top: 12px;
    font-weight: 500;
    color: var(--gray-950);
}

h2 {
    font-size: 2.4rem;
    font-weight: bolder;
    margin-top: 12px;
    color: var(--gray-950);
}

h2:hover {
    cursor: pointer;
    color: var(--yellow);
}

.card-description {
    font-size: 1.7rem;
    color: var(--gray-500);
    margin-top: 12px;
    line-height: 150%;
}

/* Responsive */

@media screen and (max-width: 375px) {

    .wrapper {
        width: 327px;
    }

    .card-note, .published-date {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    .card-description {
        font-size: 1.4rem;
    }
}